.about-page {
    height: calc(100vh - 319px);
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(90, 90, 90);
}

.about-me-name {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 688px) {
    .about-page {
        height: calc(100vh - 102.2px);
    }

    .about-me-name {
        margin-top: 3rem;
    }
}