.login-page {
    height: calc(100vh - 319px);
    align-items: center;
    justify-content: center;
}

.input-fields {
    width: 500px;
}

.login-button {
    background-color: royalblue;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid royalblue;
    padding: 5px;
}

.login-button:hover {
    color: royalblue;
    background-color: white;
}

.reset-button {
    background-color: white;
    border: none;
}

@media only screen and (max-width: 688px) {
    .login-page {
        height: calc(100vh - 140px);
    }

    .input-fields {
        width: 300px;
    }
}