.site-name {
    color: whitesmoke;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .3ch;
}

.site-name:hover {
    color: white;
}

.nav {
    background-color: rgba(44, 133, 136, 0.726);
}

@media only screen and (max-width: 667px) {
    .site-name {
        font-size: 1.3rem;
    }
}