.site-name {
    color: whitesmoke;
    font-size: 2rem;
    cursor: pointer;
}

.site-name:hover {
    color: rgb(206, 206, 206);
}

.nav {
    background-color: rgb(21, 107, 189);
}

@media only screen and (max-width: 667px) {
    .site-name {
        font-size: 1.3rem;
    }
}