footer {
    text-align: center;
    height: 239px;
    background-color: #0a0826;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 5px;
}

footer p {
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

footer .fab {
    background-color: #22203b;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}