.carousel-design img {
    max-height: calc(100vh - 80px);
}

.banner-detail {
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}

@media only screen and (max-width: 667px) {
    .carousel-design h3 {
        font-size: .7rem;
    }

    .carousel-design p {
        font-size: .6rem;
    }
}