.blogs-page {
    height: calc(100vh + 10vh);
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black !important;
    text-align: left;
    padding: 8px;
}

@media only screen and (max-width: 688px) {
    .blogs-page {
        height: calc(100vh + 1000px);
    }

    tr {
        font-size: 14px;
    }
}